<form name="register" method="post">
    <div>
        <label>
            Email:
            <input type="text" name="user[email]">
        </label>
    </div>
    <div>
        <label>
            Full name:
            <input type="text" name="user[fullName]">
        </label>
    </div>
    <div>
        <label>
            Password:
            <input type="password" name="user[password]">
        </label>
    </div>
    <div>
        CSRF Token:
        <input type="hidden" name="_csfr_token" value="{{ csrf_token('register') }}">
        <input type="submit">
    </div>
</form>